.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: darkred;
  background-image: linear-gradient(black, indigo, darkred, cyan, goldenrod, darkred);
}

.menuHousing {
  display: flex;
  margin: 10px;
}

.orderHousing {
  display: flex;
  margin: 10px;
  padding-top: 10px;
}

.mainPageFlex {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.header-main {
  width: 100vw;
  background-image: linear-gradient(black, #0D0216);
  color: white;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Molle', cursive;
  font-size: 30px;
  text-shadow: 1px 5px 15px rgb(82, 238, 247);
}

.headerImage {
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
  opacity: 0.4;
  filter: alpha(opacity=50); 
  box-shadow: 0px 0px 20px 1px rgb(82, 238, 247);
}